:root{
  --ink-black: hsla(202, 85%, 8%, 1);
  --teal: hsla(187, 32%, 41%, 1);
  --muted-teal: hsla(169, 24%, 57%, 1);
  --ash-grey: hsla(169, 12%, 34%, 1);
  --vanilla-cream: hsla(43, 64%, 88%, 1);
}
body{
  background-color: var(--ash-grey)
}
main {
  display: flex ;
}
article{
  justify-self: start;
}

.flexcol{
  display: flex;
  justify-content: center;
  justify-self: center;
 justify-items: center;

}
#toplistdisplaybox{
  padding-left: 20px;
  width: 200px;
  background-color: var(--muted-teal);
}
#toplistselector{
  width: 200px;
  margin-bottom: 0;
}
.poster{
  width: 150px;
}
#searchresult{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px;
}
#search{
  display: flex;
  justify-self: center;
  gap: 8px;
  align-items: center;

}